{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>管理员界面</title>

    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">

    <style>
    .control-label {
        font-size: 14px;}
    .modal-dialog {
        width: 700px;}
    .module {
            {#background-color: lightblue;#}
            {#border: 1px solid black;#}
            padding: 20px;
            /* 添加外边距 */
            margin: 10px;
        }

</style>

</head>
<body>
<div class="container">
    <h1>欢迎，尊敬的管理员：{{ user_dict.username }}</h1>
    <h2>账户余额：{{ user_dict.coin_account }}</h2>
    <hr>
    <form method="post" class="module">
        {% csrf_token %}
        <h3>每日工作 <small>增加你的每日贡献，获得挖矿次数</small></h3>
        <button type="submit" class="btn btn-primary" name="sign" value="0.1">签到</button>
        <button type="submit" class="btn btn-success" name="sign" value="1">批改小作业</button>
        <button type="submit" class="btn btn-info" name="sign" value="1.5">批改大作业</button>

    </form>

    <form class="module">
        <h3>创建活动 <small>创建一个发币活动</small></h3>
        <input type="button"  class="btn btn-danger" id="CreateActivity" value="创建">
    </form>
{% if error_message %}
  <div class="alert alert-danger" role="alert">
    {{ error_message }}
  </div>
{% endif %}
    <form method="post" enctype="multipart/form-data" action="/contribute/list/" class="module">
        {% csrf_token %}
        <h3>上传今日贡献表 <small>xlsx文件：两列，id与contribution</small></h3>
        <div class="form-group">
            <div class="form-group">
                <label for="datepicker">为了方便测试，这里日期可以随便选：</label>
                <!-- 添加一个输入框用于显示日期选择器 -->
                <input type="text" class="form-control" id="datepicker" name="date">
            </div>
            <input type="file" name="exc">
        </div>
        <input type="submit" value="上传" class="btn btn-info ">
    </form>

</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">创建活动</h4>
            </div>
            <div class="modal-body">

{#                表单#}
                <form class="form-horizontal" id="formModal">
                    <div class="form-group">
                        <label for="inputbegintime" class="col-sm-2 control-label">活动开始时间</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="begintime" placeholder="输入格式：2023-XX-XX">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputtotaltime" class="col-sm-2 control-label">持续时间</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="totaltime" placeholder="输入格式：60">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputsalary" class="col-sm-2 control-label">总发放金额</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="salary" placeholder="输入格式：30000">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btnSummit" type="button" class="btn btn-primary">发布活动</button>
            </div>
        </div>
    </div>
</div>








<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

{% block js %}
<script type="text/javascript">
    $(function (){
        bindcreate_activate();
        bindbtnSummit()
    })
    function bindcreate_activate(){
        $("#CreateActivity").click(function (){
            $('#myModal').modal('show')
        });

    }

    function bindbtnSummit() {
        $("#btnSummit").click(function () {

            // 获取表单数据
            var begintime = $("#begintime").val();
            var totaltime = $("#totaltime").val();
            var salary = $("#salary").val();

            // 构建要提交的数据
            var data = {
                "begintime": begintime,
                "totaltime": totaltime,
                "salary": salary
            };
            $.ajax({
                url: '/activity/',
                type: 'POST',
                data: data,
                dataType: "JSON",
                success: function (res) {
                    if (res.status === "duplicate") {
                        // 使用alert()函数显示提示信息
                        alert(res.message);
                    }
                    else {
                        alert(res.message);
                    }

                },
                error: function (xhr, status, error) {
                    // 处理错误的回调函数
                }
            });
        });
    }


    $(document).ready(function () {
        // 使用 jQuery 初始化日期选择器
        $('#datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });
    });

</script>
{% endblock %}
</body>
</html>